/* Estilos padrão */
* {
  margin: 0;
}

body {
  font-family: 'Tilt Neon', cursive;
  background-color: #6A5ACD;
  color: black;
}

header {
  background: linear-gradient(180deg, #1C1C1C	0%, #6A5ACD 100%);
  padding: 20px;
  color: black;
  text-align: center;
}

main {
  padding: 30px 500px;
}

.card {
  color: #6A5ACD;
  background: #1C1C1C;
  border: 2px solid black;
  padding: 20px;
  margin-top: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lineInput {
  display: contents;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border: 2px solid #1C1C1C;
  border-radius: 4px;
  outline: 0;
  background-color: #6A5ACD;
}

input::placeholder {
  color: #1C1C1C;
}

#tarefa {
  width: 300px;
}

button {
  border: 0px;
  padding: 10px;
  outline: 0;
  border-radius: 3px;
  background-color: #6A5ACD;
  transition: all ease 0.3s;
}

button:hover {
  background-color: #4b3caf;
  cursor: pointer;
}

.title {
  text-align: center;
}

.content {
  margin: 15px;
}

table {
  border-collapse: collapse;
  border: 1px solid #1C1C1C;
  width: 100%;
}

table th {
  background-color: #1C1C1C;
}

table th,
td {
  padding: 1px 5px;
  text-align: left;
}

table td img {
  width: 22px;
}

.center {
  text-align: center;
}

#id {
  width: 50px;
}

#task {
  width: 300px;
}

#priority {
  width: 25px;
}

#action {
  width: 50px;
}

/* Estilos para telas menores que 768px */
@media screen and (max-width: 768px) {
  main {
    padding: 30px;
  }
  
  #tarefa {
    width: 100%;
  }
  
  #priority {
    width: 50%;
  }
  
  table th, td {
    font-size: 12px;
  }
  
  #task {
    width: 200px;
  }
  
  #id {
    display: none;
  }
  
  #priority {
    display: none;
  }
  
  #action {
    width: 100px;
  }
  
  button {
    font-size: 12px;
    padding: 5px;
  }
}

/* Estilos para telas menores que 480px */
@media screen and (max-width: 480px) {
  .card {
    flex-direction: column;
    align-items: flex-start;
  }
}